[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
grpcio = "*"
cassandra-driver = "*"
pytest = "*"
mock = "*"
protobuf = "*"
PyYAML = "*"
Keras = "*"
Theano = "*"

[requires]
python_version = "2.7"
